*{
    margin: 0;
    padding: 0;
}
.image{
    width: 250px;
    height: 350px;
    border: 2px solid red;
    margin: 0 auto;
    position: relative;
    margin-left: 20px;
}
.container{
    height: 350;
    background-size: cover;
}
.sale-1{
    bottom: 328px;
    font-size: 20px;
    color: beige;
    background-color: red;
    position: absolute;
}
.sale-2{
    bottom: 229px;
    font-size: 20px;
    color: beige;
    background-color: blue;
    position: absolute;
    margin-bottom: 100px;
    margin-left: 209px;
}
.text{
    text-align: center;
}
.number-1{
    text-decoration: line-through;
    padding: 20px;
    color: red;
}
.number-2{
    padding: 20px;
    color: red;
}
.all{
    display: flex;

}