*{
    margin: 0;
    padding: 0;

}
.text ul li {
    list-style: none;
    background-color: greenyellow;
    margin-top: 2px;
    color: bisque;
    position: relative;
}
.text ul li a{
    text-decoration: none;

}
.menu ul li a:hover{
    background-color: bisque;
}
.text{
    margin: 0 auto;
    width: 200px;
    height: 200px;
}
.menu ul li a:hover .a{
    background-color: bisque;
}
.menu .menu-1{
    position: absolute; 
    margin-top: -15px;  
    left: 201px;
    width: 200px;
    height: 200px;
    display:none;
}
.menu:hover{
    background-color: blanchedalmond;
    color: black;
    
}
.menu:hover .menu-1{
    display:inline-block; 
}